h1{color:springgreen;}
h2{color:tan; font-family: sans-serif; }
p{color:snow; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.body-text1{max-width: 75%; display:none;}